.cards {
    margin: 0 auto 60px;
    padding-bottom: 40px;
    max-width: 1280px;
    box-sizing: border-box;
    border-bottom: solid rgba(33, 33, 33, 0.4) 1px;
}

.cards__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 413px);
    grid-template-rows: repeat(auto-fill, 445px);
    justify-content: center;
    gap: 20px;
}

.cards__item {
    max-width: 413px;
    list-style-type: none;
}

@media screen and (max-width: 575px) {
    .cards {
        margin: 0 16px 60px;
        padding-bottom: 20px;
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 318px);
    }

    .cards__list {
        min-width: 288px;
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 318px);
    }

    .cards__item {
        max-width: 288px;
    }
}
