.profile {
    padding-bottom: 20px;
    margin: 34px auto 20px;
    line-height: 1;
    max-width: 1280px;
    box-sizing: border-box;
    border-bottom: solid rgba(33, 33, 33, 0.4) 1px;
}

.profile__elements {
    display: flex;
    justify-content: space-between;
}

.profile__heading {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.profile__description {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__list-item {
    list-style-type: none;
}

.profile__sublist-item {
    list-style-type: none;
}

.profile__pair {
    margin: 0;
    padding: 0;
    max-width: 280px;
}

.profile__name {
    margin: 0 0 12px;
    padding: 0;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(33, 33, 33, 0.7);
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__button_edit {
    margin: 0;
    padding: 0;
    height: 16px;
    align-self: flex-end;
}

.profile__button_edit:hover {
    background-image: url(../images/edit-button-black.svg);
    cursor: pointer;
}

.profile__button_post {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    height: 52px;
}

.profile__button_post:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .profile {
        max-width: 846px;
    }
}

@media screen and (max-width: 848px) {
    .profile {
        margin: 32px 40px 20px;
    }
}

@media screen and (max-width: 575px) {
    .profile {
        max-width: 288px;
        margin: 20px auto;
    }

    .profile__elements {
        flex-direction: column;
        align-items: center;
    }

    .profile__heading {
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }

    .profile__avatar {
        background-image: url(../images/bessie-colman-small.png);
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
    }

    .profile__list-item {
        text-align: center;
        line-height: 1.2;
        font-weight: 500;
    }

    .profile__name {
        margin: 0;
        width: 288px;
        font-size: 20px;
    }

    .profile__pair {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .profile__button_post {
        background-image: url(../images/post-button-large.svg);
        background-repeat: no-repeat;
        align-self: center;
        width: 288px;
    }
}
