.header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
}

.header__logo {
    height: 26px;
    margin: 10px 0;
}
